<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://kit.fontawesome.com/f1eac9e8fa.js" crossorigin="anonymous"></script>
    <title>Numus - {{title}}</title>
</head>
<header>
    <h1>
        <a href="/" class="home">
    NVMV$
        </a>
    </h1>
    <h3>"NVMQVAM ERIT PAVPERIS."</h3>
</header>
<body>
    <div>
        <section id="sidebar">
    
            <a href="/transactions" class="text-link">
                <button class="sidebar-button" id="top-button">Transactions</button>
            </a>
        
        
            <a href="/merchants" class="text-link">
                <button class="sidebar-button">Merchants</button>
            </a>
        
        
            <a href="/tags" class="text-link">
                <button class="sidebar-button">Tags</button>
            </a>
        
        
            <a href="/budgets" class="text-link">
                <button class="sidebar-button">Budgets</button>
            </a>
        
            
        </section>
    {% block content %}

    {% endblock %} 
    
        <section id="right-hand-side"></section>
    </div>
</body>
<footer>
    Copyright© "devShark" 2021
</footer>
</html>