<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://kit.fontawesome.com/f1eac9e8fa.js" crossorigin="anonymous"></script>
    <title>Numus - {{title}}</title>
</head>
<header>
    <h1>
        <a href="/" class="home">
    NVMV$
        </a>
    </h1>
    <h3>"NVMQVAM ERIT PAVPERIS."</h3>
</header>
<body>
    <div>
        <section id="sidebar">
            <ul>
                <li>
                    <a href="/transactions" class="text-link">Transactions</a>
                </li>
                <li>
                    <a href="/merchants" class="text-link">Merchants</a>
                </li>
                <li>
                    <a href="/tags" class="text-link">Tags</a>
                </li>
                <li>
                    <a href="/budgets" class="text-link">Budgets</a>
                </li>
            </ul>
        </section>
    {% block content %}

    {% endblock %} 

</body>
<footer>
    Copyright© "devShark" 2021
</footer>
</html>