{% extends "base.html" %}
{% block content %}

    <section>
        <header class="inner-header"></header>
        <div class="homepage-container">
        <main class="homepage">
            <h2>Welcome to NUMUS, Maryhill's leading spending-tracker app!</h2>
            <section class="t-outer">
                <div class="testimonial">
                    <div class="t-inner">
                        <div class="quote">"{{ testimonial.quote }}"</div>
                        <div class="person"> - {{ testimonial.name }}</div>
                    </div>
                </div>
            </section>
            <section class="intro">
        Get started: 
        <ul>
            <li>view and record transactions using the "transactions" button</li>
            <li>view and add merchants using the "merchants" button</li>
            <li>view and add tags (spending categories) using the "tags" button</li>
            <li>create budgets with monetary and time limits using the "budgets" button</li>
            <li>to view a breakdown of your budget, follow the "breakdown" link on the budget details page</li>
        </ul>
            <p>
            <div>
            Track your spending over set time periods. 
            </div>
            <div> 
            View your spending in different ways, by merchant or by tag.  
            </div>
            <div>
            If you excede your budget it will turn red in the budgets list.
            </div>
            </p>
            </section>
        </main>
    </div>
    </section>

{% endblock %}