{% extends "base.html" %}
{% block content %}

    <main>
    <h3>Welcome to NUMU$, Maryhill's leading spending tracker app.</h3>

    <p class="testimonial">"It's bin pure amazin' so it hus, a've definetly got mair money fur Buckie on a Wensday since a've did ma budget."
    <p class="person">- Boaby, pure mad wi' it, Ruchill</p>
    <p class="testimonial">"Sales are through the roof since my clients started using the app."</p>
    <p class="person">- Ashraf, proprietor of "Bammy Beverages"</p> 
  
    </main>
</div>

{% endblock %}