{% extends "base.html" %}

{% block content %} 
    <section>
        <header class="inner-header"></header>
        <main id="table-area">
            <table>
                <tr>
                    <th>Merchant</th>
                </tr>
                {% for merchant in merchants %}
                <tr>
                    <td>
                    {{ merchant.name }}
                    </td>
                    <td>
                        <a href="/merchants/{{ merchant.id }}/edit" class="edit">
                            <i class="far fa-edit"></i>
                        </a>
                    </td>
                    <td> 
                        <form action="/merchants/{{ merchant.id }}/delete" method="POST">
                            <button class="delete">
                                <i class="fas fa-minus-circle"></i>
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td>
                        <a href="/merchants/new" class="new">
                            <i class="fas fa-plus-circle"></i>
                        </a>    
                    </td>
                </tr>
            </table>
        </main>
    </section>
</div>

{% endblock %} 
