{% extends "base.html" %}

{% block content %} 
    <main>
        <table>
            <tr>
                <th>Name</th>
            </tr>
            {% for merchant in merchants %}
            <tr>
                <td>
                {{ merchant.name }}
                </td>
                <td>
                    <i class="far fa-edit"></i>                   
                </td>
                <td>
                    <i class="fas fa-minus-circle"></i>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <form action="/merchants" method="POST">
                    <td>
                        <input type="text" name="name" placeholder="New merchant" maxlength="40" required autofocus>
                    </td>
                    <td>
                        <button>
                            <i class="fas fa-check-circle"></i>
                        </button>
                    </td>
                </form>
                <td>
                    <form action="/merchants">
                        <button>
                            <i class="fas fa-window-close"></i>
                        </button>
                    </form>
                </td>
            </tr>         
        </table>    
    </main>
</div>

{% endblock %} 
