{% extends "base.html" %}

{% block content %} 

    <section>
        <header class="inner-header">
            <ul class="top-menu">
                <li class="tab">
                <a href="/budgets" class=text-link>VIEW ALL</a>  
                </li>
                <li class="selected">DETAILS</li>
                <li class="tab">
                    <a href="/budgets/new" class="text-link">NEW</a>
                </li>
                <li class="tab">EDIT</li>
            </ul>
        </header>
        <main id="table-area">
            <table>
                <tr>
                    <th>Spending by MERCHANT</th>
                </tr>

                {% for spend_item in spend_by_merchant %}
                <tr>
                    <td>{{ spend_item.merchant.name }}:</td>
                    <td class="money">{{ "£%.2f"|format(spend_item.amount) }}</td>
                </tr>
                {% endfor %}

            <tr><td><br></td></tr>
            <tr>
                <th>Spending by TAG</th>
            </tr>
            
                {% for spend_item in spend_by_tag %}
                <tr>
                    <td>{{ spend_item.tag.category }}:</td>
                    <td class="money">{{ "£%.2f"|format(spend_item.amount) }}</td>
                </tr>
                {% endfor %}
            </table>
            <a href="/budgets/{{ budget.id }}" class="back">
                <i class="far fa-arrow-alt-circle-left"></i>  
            </a>
                   
        </main>
    </section>


{% endblock %}