{% extends "base.html" %}

{% block content %} 

<main>
    <header class="budget-header">
        <ul class="top-menu">
            <li>view all</li>
            <li>details</li>
            <li>new</li>
            <li class="selected">edit</li>
        </ul>
    </header>
    <table>
        <tr>
            <th>Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Amount</th>
        </tr>
        <tr>
            <form action="/budgets/{{ budget.id }}" method="POST">
                <td>
                    <input type="text" maxlength="25" value="{{ budget.name }}" name="name" required autofocus>
                </td>
                <td>
                    <input type="date" value="{{ budget.start_date.strftime('%d-%m-%Y') }}" name="start_date" required>
                </td>
                <td>
                    <input type="date" value="{{ budget.end_date.strftime('%d-%m-%Y') }}" name="end_date" required>
                </td>
                <td>
                    <input type="number" value="{{ budget.amount }}" min="0.01" max="10000" step="0.01" name="amount" required>
                </td>
                <td>
                    <button>
                        <i class="fas fa-check-circle"></i>
                    </button>
                </td>
            </form>
        </tr>
    </table>        
</main>


</div>

{% endblock %}