{% extends "base.html" %}

{% block content %} 

<main>
    <header class="budget-header">
        <ul class="top-menu">
            <li class="selected" >view all</li>
            <li>details</li>
            <li>new</li>
            <li>edit</li>
        </ul>
    </header>
    <table>
        <tr>
            <th>Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Amount</th>
        </tr>
    {% if budgets == [] %}
        <!-- <tr><td><br></td></tr> -->
    </table>
    <p>You haven't created a budget yet.</p>
    <form action="/budgets/new" method="POST">
        <button>
            <i class="fas fa-plus-circle"></i>
        </button>
    </form>    
    {% endif %}

    {% if budgets != [] %}
        
        {% for budget in budgets %}
        <tr
        {% if budget.color == 'red' %}
            class="red"
        {% endif %}
        {% if budget.color == 'blue' %}
            class="blue"
        {% endif %}
        >
            <td>
                {{ budget.name }}
            </td>
            <td>
                {{ budget.start_date.strftime("%d-%m-%Y") }}
            </td>
            <td>
                {{ budget.end_date.strftime("%d-%m-%Y") }}
            </td>
            <td>
                {{ "£%.2f"|format(budget.amount)}}
            </td>
            <td>
                <a href="/budgets/{{ budget.id }}" class="view">
                    <i class="far fa-eye"></i>
                </a>
            </td>
            <td>
                <a href="/budgets/{{ budget.id }}/edit" class="edit">
                    <i class="far fa-edit"></i>
                </a>
            </td>
            <td> 
                <form class="delete" action="/budgets/{{ budget.id }}/delete" method="POST">
                    <button>
                        <i class="fas fa-minus-circle"></i>
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td>
                <a href="/budgets/new" class="new">       
                        <i class="fas fa-plus-circle"></i>
                </a>    
            </td>
        </tr>
    </table>

    {% endif %}
</main>

</div>

{% endblock %}