{% extends "base.html" %}

{% block content %} 

    <section>
        <header class="inner-header">
            <ul class="top-menu">
                <li class="tab">
                <a href="/budgets" class=text-link>VIEW ALL</a>  
                </li>
                <li class="selected">DETAILS</li>
                <li class="tab">
                    <a href="/budgets/new" class="text-link">NEW</a>
                </li>
                <li class="tab">EDIT</li>
            </ul>
        </header>
        <main id="table-area">
            <div>Viewing: Transactions for budget "{{ budget.name }}"</div>
            <table>
                <tr>
                    <th>Date</th>
                    <th>Merchant</th>
                    <th>Amount (£)</th>
                    <th>Tag</th>
                </tr>
            {% if transactions == [] %}
                <!-- <tr><td><br></td></tr> -->
                <tr>
                    <td>No</td><td>transactions.</td>
                </tr>
            {% endif %}

            {% if transactions != [] %}
                
                {% for transaction in transactions %}
                <tr>
                    <td class="transactions-cell-1">
                        {{ transaction.date.strftime("%d-%m-%Y") }}
                    </td>
                    <td class="transactions-cell-2">
                        {{ transaction.merchant.name }}
                    </td>
                    <td class="transaction-cell_3 money">
                        {{ "%.2f"|format(transaction.amount) }}
                    </td>
                    <td class="transactions-cell-2">
                        {{ transaction.tag.category}}
                    </td>
                    <td>
                        <a href="/transactions/{{ transaction.id }}/edit">
                            <button class="edit">
                                <i class="far fa-edit"></i>
                            </button>
                        </a>
                    </td>
                    <td> 
                        <form class="delete" action="/transactions/{{ transaction.id }}/delete" method="POST">
                            <button class="delete">
                                <i class="fas fa-minus-circle"></i>
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            {% endif %}
                
                <tr><td><br></td></tr>
                <tr>
                    <td></td>
                    <td class="total">
                        TOTAL SPEND:
                    </td>
                    <td class="money">
                        {{ "%.2f"|format(spend) }}
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td class="total">
                        ALLOWANCE:
                    </td>
                    <td class="money">
                        {{ "%.2f"|format(budget.amount) }}
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="money">-------------</td>
                </tr>
                <tr>
                    <td></td>
                    <td class="total">SURPLUS:</td>
                    <td class="{{ budget.color }} money">{{ "%.2f"|format((budget.amount - spend)) }}</td>
                </tr>
            </table>

        
            <div class="budget-options">
                <a href="/budgets" class="back-link">
                    <i class="far fa-arrow-alt-circle-left"></i>BACK                    
                </a>
                <a href="/budgets/{{ budget.id }}/breakdown" class="fwd-link">
                    BREAKDOWN <i class="far fa-arrow-alt-circle-right"></i> 
                </a>
            </div>
        </main>
    </section>


{% endblock %}