{% extends "base.html" %}

{% block content %} 
    <section>
        <header class="inner-header"></header>
        <main id="table-area">
            <table class="transactions-table">
                <tr>
                    <th class="transactions-cell-1">
                        <a href="/transactions">
                            Date
                        </a>
                    </th>
                    <th class="transactions-cell-2">
                        <a href="/transactions/order-by-merchant">
                            Merchant
                        </a>
                    </th>
                    <th class="transactions-cell-3">
                        <a href="/transactions/order-by-amount">
                            Amount (£)
                        </a>
                    </th>
                    <th class="transactions-cell-2">
                        <a href="/transactions/order-by-tag"> 
                            Tag
                        </a>
                    </th>
                </tr>
            {% if transactions == [] %}
                <!-- <tr><td><br></td></tr> -->
            </table>
            <p>There are no transactions to display.</p>
            <form action="/transactions/new" method="POST">
                <button>
                    <i class="fas fa-plus-circle"></i>
                </button>
            </form>    
            {% endif %}

            {% if transactions != [] %}
                {% for transaction in transactions %}
                <tr>
                    <td class="transactions-cell-1">
                        {{ transaction.date.strftime("%d-%m-%Y") }}
                    </td>
                    <td class="transactions-cell-2">
                    {{ transaction.merchant.name }}
                    </td>
                    <td class="transactions-cell-3 money">
                        {{ "%.2f"|format(transaction.amount) }}
                    </td>
                    <td class="transactions-cell-2">
                        {{ transaction.tag.category}}
                    </td>
                    <td>
                        <a href="/transactions/{{ transaction.id }}/edit" class="edit">
                            <i class="far fa-edit"></i>
                        </a>
                    </td>
                    <td> 
                        <form action="/transactions/{{ transaction.id }}/delete" method="POST">
                            <button class="delete">
                                <i class="fas fa-minus-circle"></i>
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
                
                <tr><td></td><td></td><td class="money">-------------</td></tr>
                <tr>
                    <td></td>
                    <td class="total">
                        TOTAL:
                    </td>
                    <td class="money">
                        {{ "%.2f"|format(total) }}
                    </td>
                </tr>
            </table>
            <a href="/transactions/new" class="new">                 
                <i class="fas fa-plus-circle"></i>
            </a>
            {% endif %}
        </main>
    </section>

{% endblock %} 
