{% extends "base.html" %}

{% block content %} 
    <main>
        <table>
            <tr>
                <th>Date</th>
                <th>Merchant</th>
                <th>Amount</th>
                <th>Tag</th>
            </tr>
        {% if transactions == [] %}
            <!-- <tr><td><br></td></tr> -->
        </table>
        <p>There are no transactions to display.</p>
        <form action="/transactions/new" method="POST">
            <button>
                <i class="fas fa-plus-circle"></i>
            </button>
        </form>    
        {% endif %}

        {% if transactions != [] %}
            
            {% for transaction in transactions %}
            <tr>
                <td>
                    {{ transaction.date}}
                </td>
                <td>
                    {{ transaction.merchant.name }}
                </td>
                <td>
                    {{ "£%.2f"|format(transaction.amount) }}
                </td>
                <td>
                    {{ transaction.tag.category}}
                </td>
                <td>
                    <form class="edit" action="/transactions/{{ transaction.id }}/edit" method="POST">
                        <button><i class="far fa-edit"></i></button>
                    </form>
                </td>
                <td> 
                    <form class="delete" action="/transactions/{{ transaction.id }}/delete" method="POST">
                        <button>
                            <i class="fas fa-minus-circle"></i>
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td>
                    <form action="/transactions/new" method="POST">
                        <button>
                            <i class="fas fa-plus-circle"></i>
                        </button>
                    </form>    
                </td>
            </tr>
            
            <tr><td><br></td></tr>
                <td>
                    TOTAL:
                </td>
                <td>
                    {{ "£%.2f"|format(total) }}
                </td>
            </tr>
        </table>

        {% endif %}
    </main>
</div>

{% endblock %} 
