{% extends "base.html" %}

{% block content %} 
    <section>
        <header class="inner-header"></header>
        <main id="table-area">
            <table class="transactions-table">
                <tr>
                    <th class="transactions-cell-1">Date</th>
                    <th class="transactions-cell-2">Merchant</th>
                    <th class="transactions-cell-3">Amount (£)</th>
                    <th class="transactions-cell-2">Tag</th>
                </tr>
                {% for transaction in transactions %}
                <tr>
                    <td class="transactions-cell-1">
                        {{ transaction.date.strftime("%d-%m-%Y") }}
                    </td>
                    <td class="transactions-cell-2">
                    {{ transaction.merchant.name }}
                    </td>
                    <td class="transactions-cell-3 money">
                        {{ "%.2f"|format(transaction.amount) }}
                    </td>
                    <td class="transactions-cell-2">
                        {{ transaction.tag.category}}
                    </td>
                    <td class="grey">
                        <i class="far fa-edit"></i>                   
                    </td>
                    <td class="grey">
                        <i class="fas fa-minus-circle"></i>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <form action="/transactions" method="POST">
                        <td class="transactions-cell-1">
                            <input type="date" class = "date-picker", name = "date" placeholder="Date" required autofocus>
                        </td>
                        <td class="transactions-cell-2">
                            <select name="merchant_id" placeholder="Merchant" required>
                                {%for merchant in merchants %}
                                <option value="{{ merchant.id }}">{{ merchant.name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td class="transactions-cell-3 money">
                            <input name="amount" type="number" min="0.01" max="10000" step="0.01" required>
                        </td>
                        <td class="transactions-cell-2">
                            <select name="tag_id" placeholder="Tag"  required>
                                {%for tag in tags %}
                                <option value="{{ tag.id }}">{{ tag.category }}</option>
                                {% endfor %}
                            </select>
                        </td>


                        <td>
                            <button class="tick-button">
                                <i class="fas fa-check-circle tick"></i>
                            </button>
                        </td>
                    </form>
                    <td>
                        <a href="/transactions">
                            <i class="fas fa-window-close cross"></i>
                        </a>
                    </td>
                </tr>    
            </table>    
        </main>
    </section>

{% endblock %} 
