body {
    margin: 0;
}

header, footer {
    background-color: mediumturquoise;
    color: white;
    text-align: center;
    margin: 0;
}

header {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
}

h1, h3 {
    font-weight: normal;
    margin-bottom: 0;
    margin-top:0;
}

h3 {
    margin-bottom: 10;
}

footer {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 8pt;
}

.homepage-container {
    display: flex;
    justify-content: center;
}

.homepage {
    margin-top: 20px;
    width: 85%;
}

.intro {
    font-size: 14pt;
    line-height: 1.5;
}
a {
    text-decoration: none;
    color: inherit;
}

.text-link:visited {
    text-decoration: none;
    color: inherit;
}

.home {
    text-decoration: none;
    color: cornsilk;
}

.home:hover {
    color:sandybrown;
}

#sidebar {
    background-color: mediumturquoise;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#right-hand-side {
    background-color: mediumturquoise;
}

body > div {
    height: 570px;
    display:grid;
    grid-template-columns: 
    'section main section';
    grid-template-columns: 3fr 15fr 1fr;
    margin-top: 0;
    padding-top: 0;
}

#table-area {
  
}


table {
    max-height: 485px;
    display: block;
    overflow-y: scroll;
    padding-left: 10px;
}



ul {
    list-style: none;
}

td {
    padding-left: 4px;
    padding-right: 7px;
}

th {
    text-align: left;
}

.money {
    text-align: right;
}

.delete, .tick, .cross, .back, .view, .edit {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.delete {
    color: #fe2c54;
}

.edit, .edit:visited {
    color: mediumblue;
}

.new, .tick, .view, .new:visited, .fwd-link {
    color: limegreen;
}

.cross, .back, .back:visited, .back-link {
    color: purple;
}

.new, .back, .fwd {
    font-size: 16pt;
}
.grey {
    color: grey;
}

.top-menu {
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin-top: 0;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.top-menu > li {
    width: 70px;
    text-align: center;
    padding: 5px 3px 10px 3px;
}

.selected {
    background-color: white;
    color: purple;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.tab {
    color: cornsilk;
}

.inner-header {
    background-color: mediumturquoise;
    margin-top: 0;
    height: 24px;
}

.red {
    color: red;
}

/* .blue {
    color: blue;
} */

.budget-table {
    table-layout: fixed;
    width: 630px;
}

.budget-cell-1  {
    width: 162px;
}

.budget-cell-2 {
    width: 93px;
}

.transactions-table {
    table-layout: fixed;
}

.transactions-cell-1 {
    width: 120px;
}

.transactions-cell-2 {
    width: 200px;
}

.transactions-cell-3 {
    width: 100px;
}

.date-picker {
    size: 10;
}

#sidebar > ul > li {
    height: 100;
    width: 150;
    padding: 40px 10px;
    border-radius: 5;
    background-color: navajowhite;
    color:slategrey;
    margin-top:  20px;
}

.total {
    float: right;
}

.budget-options {
    width: 65%;
    display: flex;
    justify-content: space-between;
}

.t-outer {
    margin: 70px 0;
    display: flex;
    justify-content: center;
}

.testimonial {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 65%;
    height: 130px;
    border-width: 4px;
    border-style: solid;
    border-radius: 10px;
    border-color: purple;
    background-color:cornsilk;
    color: purple;
}

.t-inner {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;  
    
}

.quote {
    font-style: italic;
    margin: 0;
    padding: 0;
    font-size: 14pt;
}

.person {
    font-weight: bold;
    margin: 0;
    padding: 0;
    font-size: 10pt;
}

.sidebar-button {
    height: 60px;
    width: 96px;
    text-align: center;
    background: cornsilk;
    border-width: 4px;
    border-radius: 8px;
    border-style: groove;
    border-color: purple;
    color: purple;
}

.sidebar-button:hover {
    background:sandybrown;
}

